.catalogPage
  background-color: var(--bg100)

  .catalogWrapper
    display: flex
    gap: 50px
    max-width: var(--content-max-width)
    margin: 70px auto 100px

    .container
      display: flex
      flex-direction: column
      width: 100%

      .top
        display: flex
        justify-content: space-between
        margin-bottom: 20px

        .search
          background-color: #fff

      .cardsWrapper
        display: grid
        grid-template-columns: repeat(3,1fr)
        gap: 20px

      .productNotFound
        flex: 1 1 100%
