.button
  display: block
  color: var(--neutral100)
  font: var(--font-button)
  border: none
  cursor: pointer
  transition: background-color 0.15s, color 0.15s

  &.size_s
    padding: 10px 25px

  &.size_m
    padding: 15px 35px

  &.size_l
    padding: 18px 50px

  &.maxWidth
    width: 100%

  &.disabled
    cursor: default
    opacity: 0.75

  &.primary
    background-color: var(--primary100)

  &.secondary
    color: var(--primary100)
    background-color: #fff

  &.isBorder
    border: 1px solid var(--primary100)
    &:hover
      border: 1px solid var(--primary200)

  &:not(&.disabled):hover
    color: var(--neutral100)
    background-color: var(--primary200)
