.mainPage
  height: 100%

  .article1
    position: relative

    .img
      height: 100vh

    .contentWrapper
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      display: flex
      align-items: center
      justify-content: center

      .contentSize
        width: var(--content-max-width)

        .content
          display: flex
          flex-direction: column
          align-items: start
          gap: 20px
          max-width: 560px

          .city
            display: flex

          .title
            max-width: 330px

  .article2
    background-color: var(--bg200)
    padding: 100px 0

    .contentWrapper
      width: var(--content-max-width)
      margin: 0 auto

      .content
        display: flex
        flex-direction: column
        align-items: center
        gap: 30px
        max-width: 950px
        margin: 0 auto

        .text
          font-family: "Gotham-Regular"
          font-size: 20px
          line-height: 30px
          text-align: center
          color: var(--neutral500)

  .article3
    padding: 100px 0

    .sectionsWrapper
      display: flex
      gap: 20px
      max-width: var(--content-max-width)
      margin: 0 auto

      .section
        width: 33%
        padding: 30px 20px

        &:not(:last-of-type)
          border-right: 1px solid var(--secondary200)

        .icon
          margin-bottom: 30px

        .title
          margin-bottom: 10px
          color: var(--neutral500)

        .text
          color: var(--neutral500)

  .article4
    background-color: #343330
    padding: 50px 0

    .contentWrapper
      display: flex
      flex-direction: column
      gap: 30px
      max-width: var(--content-max-width)
      margin: 0 auto

      .header
        display: flex
        justify-content: space-between

      .sectionsWrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px

  .article5
    padding: 100px 0
    background-color: var(--bg100)

    .contentWrapper
      display: flex
      flex-direction: column
      gap: 30px
      max-width: var(--content-max-width)
      margin: 0 auto

      .header
        display: flex
        justify-content: space-between

        .headerText
          color: var(--neutral500)

      .productsWrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 20px
        flex-wrap: wrap

        .product
          display: flex
          flex-direction: column
          justify-content: space-between
          background-color: #fff

          .text
            padding: 20px 35px
            text-align: center
            color: var(--neutral500)

            .title
              margin-bottom: 5px

            .price
              font: var(--font-price)
              white-space: nowrap

  .article6
    display: grid
    grid-template-columns: 45% 55%
    background-color: var(--bg300)

    .contentWrapper
      display: flex
      align-items: center
      padding: 15%

      .content
        max-width: 560px

        .title
          margin-bottom: 30px

        .list
          display: flex
          flex-direction: column
          gap: 10px

          .item
            list-style-type: disc
            margin-left: 22px

  .article7
    padding: 100px 0
    background-color: var(--bg100)
    color: var(--neutral500)

    .contentWrapper
      display: flex
      justify-content: space-between
      align-items: center
      gap: 120px
      max-width: var(--content-max-width)
      margin: 0 auto

      .content
        max-width: 560px
        .title
          margin-bottom: 30px
          max-width: 480px

        .text
          margin-bottom: 20px

        .list
          display: flex
          flex-direction: column
          gap: 10px

          .item
            list-style-type: disc
            margin-left: 22px
            &::marker
              background-color: var(--neutral500)

  .article8
