.appLink
  color: var(--neutral100)
  border: none
  cursor: pointer

  &.filled
    padding: 18px 50px
    background-color: var(--primary100)
    transition: background-color 0.15s
    &:hover
      background-color: var(--primary200)

  &.clear
    position: relative
    background: none
    transition: opacity 0.25s
    &.isArrow
      display: flex
      align-items: center
      gap: 10px

    &:hover
      opacity: 60%

  &.primary
    color: var(--primary100)

  &.secondary
    color: var(--neutral500)

  &.neutral
    color: var(--neutral100)

  &.size_s
    font: var(--font-button)

  &.size_m
    font: var(--font-text)
